/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/images
/public/js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
.phpstorm.meta.php
public/vendor
composer.local.json
composer.local.lock