<h2>We zijn er bij!</h2>

<p>{{ greeting }}</p>

<p>We zijn er bij!</p>

<div>{{ event.dates }}</div>

<p>
    Onze quizzen worden steevast digitaal gespeeld, waarbij de deelnemers antwoorden met een zelf meegebrachte tablet,
    of een smartphone. Met een smartphone werkt het even goed als met een tablet, maar een tablet is groter en wat
    handiger om samen te bekijken.
</p>

<h3>Voorbereiding</h3>

<ul>
    <li>Stel de leden van je team in op de <a href="{{ team.url }}">{{ team.name }} team pagina</a>.</li>
    <li>Like onze <a href="https://www.facebook.com/quizfabriek/">facebook pagina</a> voor de laatste nieuwtjes.</li>
    <li>Breng per team een opgeladen tablet of smartphone mee.</li>
</ul>

<div>{{ event.location }}</div>

<p>
    Veel quizplezier!<br />
    {{ organisation.name }}
</p>
